<%- include("./partials/header") %>
    <h1 class="titel display-3-projecten--title">Blacklisted club</h1>
    <main class="blackitsed-pagina-main">
        <style>
            body {
                background-image: url('/assets/club-pagina.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
    <section class="blacklist-section">
    <figure class="figure-fifa">
        <figcaption>Club Brugge</figcaption>
        <img src="assets/images/clubbrugge.png" height="120px" ="foto niet beschikbaar" />
        <fieldset>reden:</fieldset>
        <input class="input-blacklist" type="text" name="" id="">
        <button id="delete"></a><img class="verwijderKnop" src="assets/VerwijderKnop.webp" alt="verwijderKnop">
    </figure>

    <figure class="figure-fifa">
        <figcaption>KV Mechelen</figcaption>
        <img src="assets/images/kvmechelen.png" height="120px" alt="foto niet beschikbaar" />
        <fieldset>reden:</fieldset>
        <input class="input-blacklist" type="text" name="" id="">
        <button id="delete"></a><img class="verwijderKnop" src="assets/VerwijderKnop.webp" alt="verwijderKnop">
    </figure>

    </section>
    <%- include("./partials/footer") %>