<%- include("./partials/header") %>
    <main>
    <h1 class="titel display-3 projecten--title">Contacten</h1>

    <p>Bij verdere vragen, aarzel dan niet om contact met ons op te nemen.</p>
    <p>SkillSeekers</p>
    <p>E-mail: SkillSeekers@gmail.com</p>
    <p>Tel.: 03 345 34 12</p>
    <p>Adres: Ellermantraat 33</p>
    <p>ANTWERPEN 2060</p>

    <div id="map"></div>
    

<%- include("./partials/footer") %>
