<%- include("./partials/header") %>
    <main class="main-fav-section">
      <style>
         body {
             background-image: url('/assets/images/club-pagina.jpg');
             background-size: cover;
             background-repeat: no-repeat;
         }
     </style>
        <h1 class="display-3-projecten--title">Favoriete Club</h1>
        <section class="figure-section">
         <figure class="figure-infoSection">
            <a href="spelers.html"><img class="figure-img" src="assets/images/manunited.png" alt="foto niet beschikbaar" /></a>
            <figcaption class="figcaption-infoSection">Manchester United<button id="delete"></a><img class="verwijderKnop" src="assets/VerwijderKnop.webp" alt="verwijderKnop"></figcaption>
         </figure>
         
     
         <figure class="figure-infoSection">
            <a href="spelers.html"><img class="figure-img" src="assets/images/liverpool.png" alt="foto niet beschikbaar" /></a>
            <figcaption class="figcaption-infoSection">Liverpool<button id="delete"></a><img class="verwijderKnop" src="assets/VerwijderKnop.webp" alt="verwijderKnop"></figcaption>
         </figure>
        </section>
        <%- include("./partials/footer") %>
