<%- include("./partials/header") %>
      <main class="main-fav-section">
        <h1 class="display-3-projecten--title">Favoriete League</h1>
        <style>
          body {
              background-image: url('/assets/club-pagina.jpg');
              background-size: cover;
              background-repeat: no-repeat;
          }
      </style>
        <section class="figure-section">    
        <figure class="figure-fifa">
          <figcaption>Premier League</figcaption>
          <img src="assets/images/premierleague.png" height="180px" alt="foto niet beschikbaar" />
      </figure>
    </section>
    <section class="figure-section">
    <figure class="figure-fifa">
      <figcaption>Liverpool</figcaption>
      <img src="assets/images/liverpool.png" height="170px" ="foto niet beschikbaar" />
    </figure>
    
    <%- include("./partials/footer") %>
