<%- include("./partials/header") %>

    <main class="landing-page-main">
        <section class="home-page-projects">
            <figure id="projectLoggedout">
            <button id="fifaProject" class="project"><a href="login.html"><img src="assets/images/fifa.png" alt=""></a></button>
            </figure>

            <figure id="projectLoggedout">
            <button id="otherProject" class="project"><a href="login.html"><img src="../public/assets/images/fortnite.png" alt=""></a></button>
            </figure>

            <figure id="projectLoggedout">
            <button id="otherProject" class="project"><a href="login.html"><img src="assets/images/lego.png" alt=""></a></button>
            </figure>

            <figure id="projectLoggedout">
            <button id="otherProject" class="project"><a href="login.html"><img src="assets/images/lotf.png" alt=""></a></button>
            </figure>

            <figure id="projectLoggedout">
            <button id="otherProject" class="project"><a href="login.html"><img src="assets/images/mtga.png" alt=""></a></button>
            </figure>

            <figure id="projectLoggedout">
            <button id="otherProject" class="project"><a href="login.html"><img src="assets/images/pokemon.png" alt=""></a></button>
            </figure>
        </section> 
