<%- include("./partials/header_algemeen") %>
    <main class="landing-page-main">
        <section class="home-page-projects">
            <figure class="project--container">
                <button id="fifaProject" class="project"><a href="/home"><img src="assets/images/fifa.png"
                            alt=""></a></button>
            </figure>

            <figure class="project--container" id="projectUnavailable">
                <button id="otherProject" class="project"><img src="assets/images/fortnite.png" alt=""></button>
            </figure>

            <figure class="project--container" id="projectUnavailable">
                <button id="otherProject" class="project"><img src="assets/images/lego.png" alt=""></button>
            </figure>

            <figure class="project--container" id="projectUnavailable">
                <button id="otherProject" class="project"><img src="assets/images/lotf.png" alt=""></button>
            </figure>

            <figure class="project--container" id="projectUnavailable">
                <button id="otherProject" class="project"><img src="assets/images/mtga.png" alt=""></button>
            </figure>

            <figure class="project--container" id="projectUnavailable">
                <button id="otherProject" class="project"><img src="assets/images/pokemon.png" alt=""></button>
            </figure>
        </section>
    </main>

    
    <%- include("./partials/footer_algemeen") %>